@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", serif;
    margin: 0;
    padding: 0;
    font-weight: 200;
    letter-spacing: 3px;
    overflow-x: hidden;

   
    
}

.img-background{
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -2;
    top:0;
    filter: blur(15px);
  
}

.img-back{
    position: fixed;
    top: 0;
    z-index: -1;
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}


a{
    color: black;
    text-decoration: none;
}

.under-cursor{
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    cursor: none;
    pointer-events: none;
    display: flex;
    height: 200px;
    width: 200px;
    background-color: #adb5bd;
    filter: blur(30px);
    opacity: 0.1;
}

