body{
    background-color: #212529;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #212529 ;
    color: #e9ecef;
    font-size: 1.3em;
    height: 3em;
}


.logo{
    padding-left: 2em;
    cursor: default;
    display: flex;
    
}

.logo span{
font-size: 2.5em;
padding-right: 5px;
margin-top: 5px;
}

.logo p{
    font-size: 2em;
    margin-top: 6px;
    font-weight: 100;
}


.info-links{
    padding-right: 2em;
    padding-block: 1em;
}

.info-links a{
    padding: 1.5em;
    color:#adb5bd ;
}

.info-links a:hover{
    color: black;
}

.burger-icon{
    padding-top: 0.3em;
    padding-right: 2em;
    display: none;
}

.menu{
    position: fixed;
    right: 0;
    width: 100vw;
    height: 100vw;
    text-align: end;
    transform: translatex(120%);
    transition: all 0.5s;
    z-index: 2;
}

.menu.active{
    transform: translateY(0);
}

.blur{
    width: 100vw;
    height: 100vw;
    backdrop-filter: blur(4px);
    position: absolute;
}

.menu-content{
    height: fit-content;
    width: 100%;
    background-color: #343a40;

}

.menu a{
    display: block;
    font-size: 2em;
    padding-right: 1em;
    padding: 0.5em;
    border-bottom-style: solid;
    border-width: 1px;
    color: #adb5bd;
    border-color: #495057;

}

.menu a:hover{
    color: black;
}





@media only screen and (max-width: 1050px) {
.nav-container{
    font-size: 1em;
}
}

@media only screen and (max-width: 800px) {
 .info-links{
    display: none;
 }

 .burger-icon{
    display: block;
 }
    }
