body{
    background-color: #212529;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #212529 ;
    color: #e9ecef;
    font-size: 1.3em;
    height: 3em;
    overflow-y: hidden;
    
    

}


.logo{
    padding-left: 2em;
    cursor: default;
    display: flex;
    
}

.logo span{
font-size: 2.5em;
padding-right: 5px;
margin-top: 5px;
overflow-y: hidden;

}

.logo p{
    font-size: 2em;
    margin-top: 6px;
    font-weight: 100;
    
}


.info-links{
    padding-right: 2em;
    padding-block: 1em;
    overflow-y: hidden;

}

.info-links a{
    padding: 1.5em;
    color:#adb5bd ;
    transition: background-color 1s ease 0s;
    transition: color 0.5s ease 0s;
}

.info-links a:hover{
    color: black;
}

.burger-icon{
    padding-right: 1em;
    padding-top: 0.5em;
    overflow-y: hidden;
    position: fixed;
    right: 0;
    z-index: 1000;
    
}

.menu{
    padding-top: 1em;
    position: fixed;
    right: 0;
    width: 15vw;
    z-index: 1000;

}



.first-icon{
    transform: translatex(100%);
    transition: all 0.5s;
    
}

.second-icon{
    transform: translatex(100%);
    transition: all 0.5s;
    transition-delay: 0.2s;
    
}

.third-icon{
    transform: translatex(100%);
    transition: all 0.5s;
    transition-delay: 0.4s;

}

.active{
    transform: translatex(10%);
}


.menu-content{
   text-align: center;
}

.burger {
    overflow-y: hidden;
}



.menu a{
    display: block;
    font-size: 3em;
    padding-top: 0.1em;
    border-bottom-style: solid;
    border-width: 1px;
    color: #adb5bd;
    border-color: #495057;
    background-color: #212529;
    transition: background-color 1s ease 0s;
    transition: color 0.5s ease 0s;
    border-radius: 20px 0px 0px 20px;
    z-index: 1000;
    

}

.menu a:hover{
    color: black;
    background-color: #495057;
}


@media only screen and (max-width: 1150px) {
.nav-container{
    font-size: 1em;
}
}

@media only screen and (max-width: 950px) {
 .info-links{
    display: none;
 }

 .burger-icon{
    padding-top: 0;

 }
}

@media only screen and (max-width: 500px) {
    .logo{
        font-size: 0.7em;
        padding-top: 5px;
    }
 }

 
