.main-card-container{
    width: 100%;
    cursor: default;
    padding-top: 0px; 
    z-index: 9999;   
    max-height: 300px;
}

.about-card, .about-card-container{
   width: 800px;
   height: fit-content;

}

.about-card{
    border-style: solid;
    border-width: 1px;
    border-color: #e9ecef;
    font-size: 1.5em;
    word-spacing: 8px;
}

.about-card p {
    padding: 1em;
}

@media only screen and (max-width: 950px) {
    .about-card, .about-card-container{
        width: 400px;
        height: fit-content;
        font-size: 16px;
     }
   }
   
   @media only screen and (max-width: 500px) {
    .about-card, .about-card-container{
        width: 300px;
        height: fit-content;
     
     }
.main-card-container{
    max-height: 400px;
}
    }
   
    

