.projects-container {
  /* position: absolute; */
  top: 100%;
  margin-left: 10%;
  padding-bottom: 2em;
  color: #e9ecef;
  width: 100%;
  margin-top: 100px;
}

.card-projects {
  width: fit-content;
  display: flex;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-style: solid;
  border-radius: 30px;
  padding: 1em;
  border-color: #adb5bd;
  border-width: 1px;
  margin-inline-start: 1em;
  cursor: none;
  text-align: center;

}

.card-projects a {
  cursor:none
}

.title {
  font-size: 4em;
  /* padding: 0em 0em 0.2em 1em; */
  text-align: start;
  padding-bottom: 0.7em;
  cursor: default;
}

.projects-container img {
  height: 250px;
  width: 445px;
  border-radius: 20px; 
}


.card-projects p {
  padding-inline: 1em;
  max-width: 250px;
  max-height: 250px;
  font-size: 1.5em;
  margin-bottom: 5px;
 
}




.cursor{
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    cursor: none;
    pointer-events: none;
    display: flex;

}

.text-cursor{
    flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
  margin-left: 10px;
  color: #cdd6df;
}

.second-card{
    margin-inline-start: 300px;
}

.anotation{
  color: #818284;
}



@media only screen and (max-width: 1150px) {
  .projects-container img {
    height: 200px;
    width:330px;
  }

.projects-container {
  margin-inline: 1em;
  
}
.second-card{
  margin-inline-start: 1em;
 
  
}


}

@media only screen and (max-width: 760px) {
  .card-projects {
    display: block;
  }
  .projects-container img {
    height: 180px;
    width: 320px;
  }

  .project-info-img {
    height: 180px;
    width: 320px;
  }
.card-projects p {
  display: block;
}
}

@media only screen and (max-width: 500px) {
  .projects-container img {
    height: 180px;
    width: 320px;
  }
  .projects-container {
    margin-left: 0%;

  }

  .title{
    margin-inline-start: 1em;
  }
}
